<div class="fixed top-0 left-0 z-10">
    <div class="h-screen bg-mag-50 shadow-md py-20 flex justify-start flex-col
        items-center overflow-auto lg:w-20 md:w-20 transition-all duration-200"
        [ngClass]="{ 'sm:w-20 w-20': showSideBar, 'sm:w-0 w-0': !showSideBar }">
        @for(button of buttons; track $index){
        <div [ngClass]="{ 'bg-mag-300': button.activo, 'text-white': button.activo}" [pTooltip]="button.nombre"
            tooltipPosition="right" class="rounded-full bg-white flex py-2 px-3 shadow-md mb-8 cursor-pointer
            transition-all duration-300 hover:bg-mag-300 hover:text-white" (click)="navigate(button)">
            <i class="pi {{ button.icono }} text-3xl"></i>
        </div>
        }
    </div>
    <div class="lg:hidden md:hidden w-20 h-20 bg-mag-50 absolute top-1/2 transform -translate-y-1/2 transition-all
        duration-200 shadow-lg circle flex items-center pl-2 cursor-pointer" (click)="showSideBar = !showSideBar"
        [ngClass]="{ 'ml-20': showSideBar, 'ml-0': !showSideBar }">
        <i class="pi-sort-up-fill pi rotate-90 text-2xl text-gray-700"></i>
    </div>
</div>